cycler==0.11.0
distlib==0.3.5
filelock==3.7.1
flake8==4.0.1
fonttools==4.34.4
importlib-resources==5.8.0
iniconfig==1.1.1
kiwisolver==1.4.3
matplotlib==3.5.2
mccabe==0.6.1
numpy==1.23.1
packaging==21.3
Pillow==9.2.0
platformdirs==2.5.2
pluggy==1.0.0
psutil==5.9.1
py==1.11.0
pycairo==1.21.0
pycodestyle==2.8.0
pyflakes==2.4.0
PyGObject==3.42.1
pyparsing==3.0.9
PyQt6==6.3.1
PyQt6-Qt6==6.3.1
PyQt6-sip==13.4.0
pytest==7.1.2
pytest-qt
python-dateutil==2.8.2
PyYAML==6.0
six==1.16.0
toml==0.10.2
tomli==2.0.1
tox==3.25.1
appdirs
pytest-xvfb
